body {
  font-family: "Roboto",  Open Sans, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  margin:0;
  flex: 1; 
  height: 100vh;
  font-size: 18px;
}

ul {
  list-style: none;
  margin:0 ;
  padding: 0;
  display:flex;
  gap: 60px;
  align-items: center;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  color: #929497;
}

img {
  width: 250px;
  margin: 10px 5px;
}

h5 {
  margin:0;
  padding: 0;
}

p {
  font-size: 18px;
}

button {
  background-color: #3882F6;
  padding: 10px 60px;
  text-align: center;
  font-size: 18px;
  font: optional;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;


}

.button1 {
  color: #E5E7EB;
  border-color: #3882F6;
}
.button1:hover {
  background-color: #E5E7EB;
  color:#3882F6
}

.button2 {
  color:#E5E7EB;
  border-color: white ;
}

.button2:hover {
  background-color: #E5E7EB;
  color: #3882F6;

}


.top { /* Dark blue part */
  display: flex;
  background-color: #1F2937;
  color: white;
  justify-content: center;
}

.flex1{ /* Flex box that contains everything*/
  width: 940px;
}

.header {  /*header logo and links*/
  display: flex;
  justify-content: space-between;
}

.container { /*contains "This is awesome" and image-main*/
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}

.intro {  /*Text of This is Awesome*/
  width: 900px;
}

.main-img {
  width: auto;
  height: 400px;
}



.info {  /*Container of information and cards*/
  display: flex;  
  flex-direction: column;
  flex:auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.info h3 { /*"Some information" text*/
  color: #1F2937;
  font-size: 36px;
  font-weight: extra-bold;
}

.cards { /*Container of all 4 cards */
  display: flex;
  justify-content: space-evenly;
}
.card {
 width: 250px;
}

.quote { /*Gray quotation area*/
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB; 
  height: 800px;
  justify-content: center;
  align-items: center;
  flex: auto;
  margin: 20px;
  font-size: 36px;
}


.flex2 { /*Container of the quotes*/
  display: flex;
  flex-direction: column;
  width: 1200px;
  color: #1F2937;
  margin: 30px;
}

.author {
  display: flex;
  justify-content: end;
  font-size: 36px;
  font-weight: lighter;
}

.signup { /*White area of the blue box*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 1;
}

.flex3 { /*Blue box Container */
  display: flex;
  background-color:  #3882F6;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  color: #E5E7EB;
  box-shadow: 20px 20px 10px gray;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}